{:deps {:aliases [:cljs :all :test]}
 :builds {:test {:target :node-test
                 :output-to "test/index.js"
                 :ns-regexp "-test$"
                 :build-hooks [(com.avisi-apps.gaps.rcf.shadow-cljs.hook/hook)]}}}}
