;; shadow-cljs configuration
{:deps true

 :builds {:functions {:target :node-library
                      :js-options {:js-package-dirs ["functions/node_modules"]}
                      :output-to "functions/index.js"
                      :devtools {:preloads [com.avisi-apps.firebase-example.functions devtools.preload com.avisi-apps.gaps.rcf.preload]}
                      :exports-var com.avisi-apps.firebase-example.functions/cloud-functions}}}
