{:deps {cljs-bean/cljs-bean {:mvn/version "1.8.0"}
        com.avisi-apps.gaps/log {:local/root "../log"}
        funcool/promesa {:mvn/version "8.0.450"}
        com.cognitect/transit-cljs {:mvn/version "0.8.280"}}
 :aliases {:dev {:extra-deps {com.hyperfiddle/rcf {:mvn/version "20220405"}
                              thheller/shadow-cljs {:mvn/version "2.19.0"}}}}}
