{:deps {com.avisi-apps.gaps/log {:local/root "../../modules/log"}
        com.avisi-apps.gaps/rcf {:local/root "../../modules/rcf"}
        com.avisi-apps.gaps/reitit-express {:local/root "../../modules/reitit-express"}

        ;; Dev only
        binaryage/devtools {:mvn/version "1.0.6"}

        metosin/reitit-core {:mvn/version "0.5.18"}
        metosin/reitit-ring {:mvn/version "0.5.18"}
        metosin/reitit-middleware {:mvn/version "0.5.18"}
        metosin/reitit-malli {:mvn/version "0.5.18"}
        metosin/reitit-swagger {:mvn/version "0.5.18"}
        thheller/shadow-cljs {:mvn/version "2.20.1"}}}
