;; shadow-cljs configuration
{:deps true

 :builds {:web {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"
                :compiler-options {:source-map true
                                   :source-map-include-sources-content true
                                   :source-map-detail-level :all}
                :js-options {:resolve {"dtrace-provider" {:target :global
                                                          :global "dtrace-provider"}}}
                :devtools {:after-load com.avisi-apps.cloud-run-example.client/refresh
                           :preloads [com.fulcrologic.fulcro.inspect.preload
                                      com.fulcrologic.fulcro.inspect.dom-picker-preload
                                      com.avisi-apps.gaps.rcf.preload
                                      com.avisi-apps.cloud-run-example.client]}
                :modules {:main {:init-fn com.avisi-apps.cloud-run-example.client/init
                                 :entries [com.avisi-apps.cloud-run-example.client]}}}
          :app {:target :node-script
                :output-to "index.js"
                :devtools {:before-load-async com.avisi-apps.cloud-run-example.core/stop
                           :after-load-async com.avisi-apps.cloud-run-example.core/start
                           :preloads [com.avisi-apps.cloud-run-example.core com.avisi-apps.gaps.rcf.preload]}
                :main com.avisi-apps.cloud-run-example.core/main}}}
